body{
  background-color: #C27362;
}
h1, h6, p{
  text-align: center;
  color: #453C3A;
}
ul {
  list-style-type: none;
  text-align: center;
}
li{
  float:left;
}
li a {
  font-size: 25px;
  padding: 20px;
  color: #000000;
  font-family: "Monaco", Monospace;
  text-decoration: none;
  background-color: #C27362;
}
li a:hover{
  background-color: #975C4F;
  color: #000000
}
li_2{
  font-size: 25px;
  padding: 45px;
  color: #000000;
  font-family: "Monaco", Monospace;
  text-decoration: none;
  background-color: #C27362;
}
li_2 a{
  /*background-color: #975C4F;*/
  color: #000000
}
